.scroll-content {
  display: block;
  max-width: 970px;
  z-index: -1;
  margin: 0 auto;
  background-image: url("./assets/teacher-diversity-BG.jpg");
  min-height: 950px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 920px;

    @media @tablet {
      background-position-y: -100%;
      background-size: 100%;
      min-height: 450px; 
    }

    @media @mobile {
      background-position-y: 80%;
      background-size: 100%;
      min-height: 450px; 
    }

  .layer {
    float: right;
    margin-bottom: 20px;
    clear: both;
    padding: 16px;
    font-family: @df-sans;
    font-size: 16px;

    @media @tablet {

    }

    @media @mobile {

    }

    h2 {
      margin: 0;
      color:white;
    }

    @border-width: 4px;
  }
}