.scroll-content {
  display: block;
  max-width: 970px;
  z-index: -1;
  margin: 0 auto;
  background-image: url("./assets/teacher-diversity-BG-full.jpg");
  min-height: 920px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 920px;

    @media @tablet {
      background-image: url("./assets/teacher-diversity-BG.jpg");
      background-position-y: 60%;
      background-size: 100%;
      min-height: 450px; 
    }

    @media @mobile {
      background-position-y: 30%;
      background-size: 100%;
      min-height: 250px; 
    }

  .layer {
    float: right;
    margin-bottom: 20px;
    clear: both;
    padding: 16px;
    font-family: @df-sans;
    font-size: 16px;
    background-color: transparent;
    z-index: 100;

    h2 {
      margin: 0;
      color: white;
    }

    @border-width: 4px;
  }
}