<body>

  <responsive-child>
    <div class="outmost">
      <section class="chatter">
        <h1>Lorem Ipsum</h1>
        <p>The map below shows how districts fare when ranked by a ratio that divides their percentage of teachers of color by their percentage of students of color. The closer the district is to “1,” the more its teachers reflect the demographics of its students.</p>
      </section>
       
    <div class="flex-container">
      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map lat="47.35" lng="-121.0" zoom=7>
            <tile-layer layer="cartoPositron"></tile-layer>

          </leaflet-map>

        </div>
        <asideB class="legend">
          <div class="key"></div>
            </asideB>
          </div>

          <div class="buttons">
            <hr>
            <div class="allDistrict selected button"><b>ALL STUDENTS OF COLOR</b></div>
            <div class="button">Asian</div>
            <div class="button">Black</div>
            <div class="button">Hispanic/Latino</div>
            <div class="button">Multiracial</div>
            <div class="button">Native American/Alaska Native</div>
            <div class="button">Pacific Islander/Native Hawaiian</div>
            <hr>
            <div class="button">White</div>
      <div class="source">Note: XXXX <br>Source: Office of Superintendent of Public Instruction
        <span class="credit">EMILY M. Eng / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <% /*= t.include("partials/_foot.html"); */ %>
  <%= t.include("partials/_workHere.html") %>
</body>