<!doctype html>
<html lang="en-US">
  <head>
    <meta property="og:image" content="https://projects.seattletimes.com/2018/teacher-diversity-wa/assets/social.jpg" />
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  <%= t.include("partials/_gtm.html") %>
  <%= t.include("partials/_nav.html") %>

    <div class="top-ad">
      <%= t.include("partials/_ad.html", { type: "banner" }) %>
    </div>
    <header class="headlines">
          <h1>Teacher diversity in Washington state</h1>
          <h2>Greater representation can improve outcomes for students of color. So why are 89% of Washington teachers white?</h2>
          <video src="./assets/video/animation.mp4" autoplay playsinline muted></video>
          <div class="caption">Jennifer Luxton / The Seattle Times</div>
    </header>
    
    <intro class="article">
        <div class="byline">
          <img src="assets/mug-DB.jpg" alt="Portrait of Dahlia Bazzaz"><div class="reporter">By <a class="name" href="https://www.seattletimes.com/author/dahlia-bazzaz/">Dahlia Bazzaz,</a> <i>Seattle Times staff reporter</i></div></div>
        <div class="byline">
          <img src="assets/mug-KG.jpg" alt="Portrait of Katie Gillespie">
          <div class="reporter">By <a class="name" href="https://www.columbian.com/author/katiegillespie/">Katie Gillespie,</a> <i>The Columbian staff reporter</i></div></div>
        </div>
      </intro>

    <main class="article">
        <section class="constrained">
          <div class="date">Published December 14, 2018</div>
        </section>
        <section class="full">
          <aside class="sidebarTop">
            <p>A joint project by The Seattle Times and The Columbian</p><hr>
            <a href="https://www.seattletimes.com/education-lab-about/"><img src="assets/edulab_logo.jpg" alt="Education Lab logo"></a><hr>For a look at how districts are trying to address the issue, stay tuned for the next piece in this three-part series, a collaboration between The Seattle Times and The Columbian newspaper in Vancouver, Wash.<br><strong> Read more:</strong><br><li><a href="https://www.seattletimes.com/education-lab/puget-sound-school-districts-are-trying-to-recruit-and-keep-more-teachers-of-color-heres-how/">Recruiting — and keeping — teachers of color around Puget Sound</a><!-- <br><li><a href="https://www.seattletimes.com/education-lab/how-do-we-solve-the-teacher-diversity-gap-in-washington-for-clark-county-the-answer-may-be-grow-your-own/">One Southwest Washington county's answer</a> --></aside>
        </section>

        <section class="constrained">
        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section1) %>
        </div>
      </section>

      <section class="full">
        <aside class="graphic">
          <h3>Student and teacher demographics in Washington</h3>
          <img src="assets/graphics/demographic-compare-W.jpg" alt="2017-18 teacher demographics compared to students">
          <div class="source">Note: Totals are based on reported data from districts, charter schools, and
            educational service districts with both teacher and student demographics.<br>Source: Office of Superintendent of Public Instruction (2017-18)</div>
          <span class="credit">Emily M. Eng / The Seattle Times</div>
        </aside>
      </section>

      <section class="constrained">
        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section2) %>
        </div>

        <h3>Teachers of color still a rarity in a diversifying state</h3>
        <img src="assets/graphics/pop-growth-W.jpg" alt="Teachers of color still a rarity in a diversifying state" class="hidden-mobile">
        <img src="assets/graphics/pop-growth-M.jpg" alt="Teachers of color still a rarity in a diversifying state" class="visible-mobile">
        <div class="source"> Sources: Office of Superintendent of Public Instruction, American Community Survey (2012, 2017)<br><span class="credit">Emily M. Eng / The Seattle Times</div>
        
        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section3) %>
        </div>
        
        <h3>How many more teachers would it take to achieve parity?</h3>
        <img src="assets/graphics/teachers-needed-equality-W.jpg" alt="Circle graph of how many current teachers and needed teachers to match student demographics in 2017-18'" class="hidden-mobile">
        <img src="assets/graphics/teachers-needed-equality-M.jpg" alt="Circle graph of how many current teachers and needed teachers to match student demographics in 2017-18" class="visible-mobile">
        <div class="source"> Source: Office of Superintendent of Public Instruction (2017-18)<br><span class="credit">Emily M. Eng / The Seattle Times</div>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section4) %>
        </div>
      </section>

        <div class="content" id="map-content">
          <%= t.include("_map.html") %>
        </div>
        
      <section class="constrained">
        <aside class="sidebar">
          <p><b>Are you a student?</b></p><hr>We want to know how diversity among your teachers has affected your time in the classroom. <a href="https://www.seattletimes.com/education-lab/students-we-want-to-know-how-diversity-among-your-teachers-has-affected-your-schooling/"><strong>Share your story with us here</strong></a> and it could be published in The Seattle Times.</aside>
      
        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section5) %>
        </div>
        
        <h3>Teachers mismatch acute in Washington’s big, small districts</h3>
        <img src="assets/graphics/Index-average-bar-W.jpg" alt="Districts with fewer than 100K students have lower teacher-student diversity index averages than all school districts or districts with more than 100K students." class="hidden-mobile">
        <img src="assets/graphics/Index-average-bar-M.jpg" alt="Districts with fewer than 100K students have lower teacher-student diversity index averages than all school districts or districts with more than 100K students." class="visible-mobile">
        <div class="source"> Source: The Seattle Times/The Columbian analysis<br><span class="credit">Emily M. Eng / The Seattle Times</div>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section6a) %>
        </div>

        <aside class="sidebar">
          <img src="assets/photo_teacher.jpg" alt="Adam Aguilera helps fourth-grader Kaler Mathews with a question">Adam Aguilera, who is Latino, said his identity informs his teaching and helps him relate to his students of color at Pioneer Elementary School in Vancouver. (Alisha Jucevic/The Columbian)</aside>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section6b) %>
        </div>

      </section>
        <div class="caption centered">Click on the name of a district to see its stats</div>
        <hr>
        <div class="content">
          <%= t.include("_tabs.html") %>
        </div>
        <hr>
      <section class="constrained">
        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section7a) %>
        </div>

        <div class="content constrained floating">
          <%= t.include("partials/_ad.html", { type: "square" }) %>
        </div>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section7b) %>
        </div>

        <h3>Aspiring teachers of color pass entry tests at lower rates</h3>
        <img src="assets/graphics/WestB-pass-rate-W.jpg" alt="Aspiring white teachers passed at higher rates than any aspiring teachers of color" class="hidden-mobile">
        <img src="assets/graphics/WestB-pass-rate-M.jpg" alt="Aspiring white teachers passed at higher rates than any aspiring teachers of color" class="visible-mobile">
        <div class="source"> Source: Washington Professional Educator Standards Board<br><span class="credit">Emily M. Eng / The Seattle Times</div>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.teacher.section8) %>
        </div>
      </section>
    </main>

    <footer class="credits constrained">
      <div class="callout">
        <p><b>Curious about our analysis?</b></p><hr><a href="https://www.seattletimes.com/education-lab/how-we-measured-the-demographic-divide-between-students-and-teachers-in-washington-state/">How we measured the demographic divide between students and teachers in Washington state</a></aside>
      </div>
      <br>
      <ul>
        <li> <b>Reporters:</b> Dahlia Bazzaz, <a href="mailto:dbazzaz@seattletimes.com">dbazzaz@seattletimes.com</a>; on Twitter: <a href="https://twitter.com/dahliabazzaz">@dahliabazzaz</a><br>Katie Gillespie, <a href="mailto:katie.gillespie@columbian.com">katie.gillespie@columbian.com</a>; on Twitter: <a href="https://twitter.com/newsladykatie">@newsladykatie</a></li>
        <li> <b>Graphics, design and development:</b> Emily M. Eng</li>
        <li> <b>Illustration:</b> Jennifer Luxton</li>
        <li> <b>Project editors:</b> Joy Resmovits and Laura Gordon</li>
        <li> <b>Copy editor:</b> Jane MacDonald</li>
        <li> <b>Engagement editor:</b> Mohammed Kloub</li>
      </ul>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
